# DeepAxon requirements
# Core ML
tensorflow==2.10.1
keras==2.10.0

# Image processing
opencv-python
Pillow
patchify
scikit-image
scipy
numpy

# Data
pandas
openpyxl
xlsxwriter

# Overlay processing
roifile

# Console output
rich

# ML utilities
scikit-learn
